mixin meta(head)
    meta(name=head.author,content=head.author_content)
    meta(name="viewport",content="width=device-width, initial-scale=1,user-scalable=no") 
    meta(name="description",content=head.desc)
    meta(name="keywords",content=head.keyword)
    meta(name="renderer",content="webkit")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
    meta(http-equiv="Cache-Control",content="no-siteapp")
    meta(charset="utf-8")